<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# H1: Data Science Tools and Ecosystem

# H3: In this Notebook data science tools and ecosystem are introduced

**Objectives**

- Popular Languages in Data Science
- Popular Libraries in Data Science
- Data SCience Development Environment Open Source Tools
- How to write arithmetic expressions

# H3: Some of the popular languages Data Scientists use are:

1. Python
2. R
3. SQL

# H3: Some of the commonly used libraries Data Scientists use are:

1. Pandas
2. NumPy
3. ggplot

| Data Science Tools |
|--------------------|
|RStudio|
|Apache Spark|
|Tensor Flow|

# H3: Below are few examples of evaluating arithmetic expressions in Python

In [3]:
#this is an example of multiplying and then add integers

(3*4)+5

17

In [6]:
#this will convert 200 minutes in a hour by dividing by 60

(200/60)

3.3333333333333335



# H2: Author

Cinzia Imoni